@charset "UTF-8";

body {
  font-size: 18px;
}

header {
  position: fixed;
  width: 100%;
  z-index:1;
  
}

nav ul {
  display: flex;
  justify-content: space-around;
  background-color:rgb(0, 139, 139, 0.8);
  padding: 1.5% 5%;
}
nav ul li {
  font-size: 1.2rem;
}

nav ul li a {
  color:#fff;
  text-decoration: none;
}

#top {
  height:600px;
  background: url(../img/top2.jpg) no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: left;
  align-items: center;
}

.top-wrapper {
  background-color:rgb(123, 104, 238,0.5);
  padding:1.5% ;
  margin-left:10%;
  border-radius: 5px;
}



.top-wrapper h1 {
  font-size: 1.8rem;
  color:#fff;
}

#service {
  width: 80%;
  margin: 10% auto;
}

.section-title {
  font-size: 2.5rem;
  text-align: center;
  color:rgb(123, 104, 238, 0.5);
  margin-bottom: 5%;
}

.service-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-left img {
  width: 80%;
  height: auto;
}

.service-right {
  width:90%;
  
}

.service-right h3 {
  font-size: 1.5rem;
  color: rgb(123, 104, 238, 0.5);
  padding :5% 0;
}

.service-right p {
  font-size: 0.9rem;
  line-height: 1.5;
  color:#555;
}

#news {
  width: 80%;
  margin: 10% auto;
}

.news-wrapper {
  width: 45%;
  margin:0 auto;
  line-height:1.5;
}

#price {
  width: 80%;
  margin: 10% auto;
}

.price-wrapper table {
  border: solid rgb(216, 191, 216) 10px;
  width: 100%;
  text-align: center;
  margin: 10% 0;
}

.price-wrapper table tr {
  border:solid rgb(216, 191, 216) 3px;
  padding: 1%;
}

.price-wrapper table th {
  border:solid rgb(216, 191, 216) 3px;
  padding:8px;
}

.price-wrapper table td {
  border: solid rgb(216, 191, 216) 3px;
  padding:1%;
}

#contact {
  background: rgb(241, 241, 241);
}

#contact h2 {
  padding: 5% 0;
  margin:0;
}

.form {
  width:70%;
  margin:0 auto;
}

label {
  display: inline-block;
  width: 30%;
  line-height: 2;
}

input, textarea {
  box-sizing: border-box;
  border: solid #ddd 1px;
  width:60%;
  margin-bottom:2.5%;
}

input {
  padding:1%;
}

textarea {
  vertical-align: top;
  height:200px;
}

.button {
  text-align: center;
}

.button-submit {
  padding: 1.5% 5%;
  background-color:#555;
  margin: 5% 0;
  font-weight: bold;
  border: none;
  color:#fff;
  border-radius: 4px;
}

#footer {
  background-color:#444;
  padding:5%;
  text-align: center;
  color:#fff;
}

#footer small {
  font-size:8px;
}
